html {

    font-size: 100%;
    background-image: url("Background.jpg");
    background-attachment: fixed; /* Le fond restera fixe */

}

@font-face {
    font-family: 'circular';
    src: url('../style/polices/Circular.otf') format('opentype');
}

@font-face {
    font-family: 'aileron_ultralight';
    src: url('../style/polices/Aileron-Ultralight.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin';
    src: url('../style/polices/Aileron-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin_italic';
    src: url('../style/polices/Aileron-ThinItalic.otf') format('opentype');
}
h1 {
    font-family: 'circular';
}



h1 {
    font-size: 9em;
    color: #ffffff;
    transition: 3s;
}

h1:hover {
    color :#a0ff23 ;
    transition: 3s;

}

#flex_container {
    margin-top: 40vh;
    transform:
            translateY(-50%);
    display: flex;
    flex-direction: column;
    font-family: 'circular';
    /* align-content: space-around; */


}

#flex_container>div {

    text-align: center;
    font-family: 'circular';

}

#conteneur {
    display : flex;
    padding-right: 10px;
    justify-content: flex-end;



}

h2 {
    text-align: center;
    font-size: 2em;
    color: #a0ff23;
    font-family: 'aileron_thin';


}

.bouton {
    font-family: 'circular';
    padding-right: 10px;
    transition: 1s;

}

.bouton a {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 10px;
    transition: 1s;
}


.gros_bouton a {
    color: #a0ff23;
    font-size: 2em;
    font-family: 'circular';
    text-decoration: none;
    transition: 0.4s;

}

.bouton a:hover {
    color: #a0ff23;
    transition: 0.5s;


}

.gros_bouton a:hover {
    color: rgb(40, 40, 40);
    transition: 0.1s;
}

ul {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(243, 120, 4), rgb(243, 239, 4));
    border-radius: 4px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .3);


}

ul li {
    display: table-cell;

}

ul li a {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    text-decoration: chartreuse;
    padding: 10px 10px 10px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,
    0 -1px 0 hsl(35, 100%, 32%) inset,
    0 -2px 0 hsl(35, 100%, 38%) inset,
    0 -3px 0 hsl(35, 100%, 44%) inset,
    0 -4px 0 hsl(35, 100%, 50%) inset,
    0 -5px 0 hsl(35, 100%, 60%) inset;
    /* transition: all .3s .1s; */
}

ul li a:hover,
ul li a:focus {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,
    0 -1px 0 hsl(35, 100%, 42%) inset,
    0 -2px 0 hsl(35, 100%, 48%) inset,
    0 -3px 0 hsl(35, 100%, 54%) inset,
    0 -4px 0 hsl(35, 100%, 60%) inset,
    0 -5px 0 hsl(35, 100%, 70%) inset;
    padding: 10px 20px 10px 20px;
    transition: all .1s 0s;
}


ul li a:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    box-shadow: 0 100px 1000px rgba(0, 0, 0, .3) inset;
}

ul li:first-child a {
    border-radius: 4px 0 0 4px;
}

ul li:last-child a {
    border-radius: 0 4px 4px 0;
}

