body, html {
    height: 100%;
    margin: 0;
}
@font-face {
    font-family: 'circular';
    src: url('polices/Circular.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_ultralight';
    src: url('polices/Aileron-Ultralight.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin';
    src: url('polices/Aileron-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin_italic';
    src: url('polices/Aileron-ThinItalic.otf') format('opentype');
}


#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

h2 {
    font-family: 'circular';
}
h3 {
    font-family: 'circular';
}


body, html {
    height: 100%;
    margin: 0;
}



.bg {
    /* The image used */
    background-image: url("Background.jpg");

    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */

}



form {
    width:85%;
    padding: 30px;
    background: #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.7;
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 0px;
}


html {
    background: rgba(173, 173, 173, .1);
    font: 100% sans-serif;
    font-family: 'Quicksand';
}

h3{
    font-family: 'aileron_thin_italic';
    color: #a0ff23;
    font-size: 50px;



}
h2{
    font-family: 'aileron_thin_italic';
    padding-bottom: 50px;
    padding-top: 5px;
    color: #a0ff23;
    font-size: 50px;

}



* {
    box-sizing: border-box;
}
h4 {

    color: white;
    font-size: 60px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);

    padding-left: 100px;
}
h5 {
    padding-left: 750px;
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);

    padding-bottom: 5px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    display: block;
    margin : auto;


}

.button:hover {
    background-color: green;
}
.box {
    float: left;
    width: 50%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}