
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
@font-face {
    font-family: 'circular';
    src: url('polices/Circular.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_ultralight';
    src: url('polices/Aileron-Ultralight.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin';
    src: url('polices/Aileron-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin_italic';
    src: url('polices/Aileron-ThinItalic.otf') format('opentype');
}
h1 {
    font-family: 'circular';
}
label {
    font-family: 'circular';
}
input {
    font-family : 'aileron_thin';
}
/* ici la forme border */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* photo d'arrière plan */
body
{
    background-image: url("Background.jpg");
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

/* style pour les boutons */
button[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    border-radius: 4px;
    font-size: medium;
}
button[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
    transition: 0.2s;
}
