html,body{

    font: 100% sans-serif;
    font-family: 'circular';
    padding: 0;



}

@font-face {
    font-family: 'circular';
    src: url('polices/Circular.otf') format('opentype');
}

form {
    margin-top: 0;
}




ul {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.7);
    list-style-type: none;
    z-index: 1;
    position: fixed;

}

ul li:hover{
    flex-grow : 0.2;
    transition: 0.5s;
    background-color: green;
    
}
ul li {
    transition: 0.3s;
}

ul li a {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(256, 256, 256, 1);
    text-decoration: chartreuse;
    padding: 10px 10px 10px 10px;
    transition: 0.3s;


    /* transition: all .3s .1s; */
}

ul li a:hover,ul li a:focus {
    background: rgba(255, 255, 255, .2);
    size: 150%;
    transition: 0.5s;
}

ul li a:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));

}

