body, html {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'circular';
    src: url('polices/Circular.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_ultralight';
    src: url('polices/Aileron-Ultralight.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin';
    src: url('polices/Aileron-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin_italic';
    src: url('polices/Aileron-ThinItalic.otf') format('opentype');
}

body {
    /* The image used */
    background-image: url("Background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
}




form {
    width:85%;
    padding: 30px;
    background: #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.7;
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 0px;

}



html {
    background: rgba(173, 173, 173, .1);
    font: 100% sans-serif;
    font-family: 'Quicksand';
}
h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    color :white;
}


h3{
    font-size: 30px;
    margin-bottom: 1000px;
    color :white ;
}




p{

    color :white;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 360px;
    margin-top: 40px;
}

form {
    width:85%;
    padding: 30px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 0px;
}